@font-face {
  font-family: "Fira Sans";
  src: url('fonts/fira/eot/FiraSans-Regular.eot');
  src: url('fonts/fira/eot/FiraSans-Regular.eot') format('embedded-opentype'),
       url('fonts/fira/woff2/FiraSans-Regular.woff2') format('woff2'),
       url('fonts/fira/woff/FiraSans-Regular.woff') format('woff'),
       url('fonts/fira/woff2/FiraSans-Regular.ttf') format('truetype');
}

html {
  padding-left: 3em;
  padding-right: 1em;
}

body {
  /*font-family: "Fira Sans", "PT Sans", Calibri, Tahoma, sans-serif;*/
  font-family: 'Nimbus Mono PS', 'Courier New', monospace;
  text-align: center;
  background-color: rgb(25, 24, 24);
  color: rgb(255, 235, 119);
}

.navbartop {
  margin: 1em;
  text-align: center;
}

.navbartop div a {
  display: inline-block;
  padding: 0 10px;
  border-right: solid rgb(255, 235, 119);
}

.navbartop div a:last-child {
  border-right: none;
}

.navbar {
  text-align: left;
}

/*square animation in the home page*/

.squares {
  padding-bottom: 10em;
}

.row {
  padding-top: 0em;
  margin-top: 0em;
}

.square {
  display: inline-block;
  margin: auto;
  width: 2rem;
  height: 2rem;
  background-color: rgb(0, 221, 255);
  border-radius: 0.6rem;
}
/*--------end-here--------*/

/*heart animation in the cybersecurity projects page*/
.heart {
  margin-top: 5em;
}

.cyberheartrow {
  padding-bottom: 0.6em;
}

.square2 {
  display: inline-block;
  margin: auto;
  width: 2rem;
  height: 2rem;
  background-color: rgb(255, 0, 60);
  border-radius: 0.6rem;
}

.square3 {
  display: inline-block;
  margin: auto;
  width: 2rem;
  height: 2rem;
  background-color: rgb(255, 0, 60);
  border-radius: 0.6rem;
  opacity: 0;
}

/*--------end-here--------*/


p {
  text-align: left;
  font-size: large;
  margin-left: 2em;
}

.text-xl {
  font-size: 1.4em;
  text-align: center;
}

.AItext {
  font-size: x-large;
  font-weight: 600;
  text-align: center;
}

a {
  color: rgb(255, 235, 119);
  text-decoration: none;
}

a:hover {
  font-size: 20px;
}

.animesvg {
  margin-top: 5em;
}

.devheader {
  text-align: left;
}

.devtext {
  text-align: left;
  margin-left: -0.1em;
}

.devgif {
  float: left;
  margin-right: 1em;
  height: 390px;
  overflow: hidden;
  border: 2px solid rgb(255, 235, 119);
}

.devgif img {
  height: 400px;
  margin: -5px 0px 0px 0px; 
}

.devgifheart img {
  margin-top: 1.8em;
  height: 240px;
  border: 2px solid rgb(255, 235, 119);
}

.images {
  border: 2px solid rgb(255, 235, 119);
}

#navbarimg img {
  height: 50px;
}