/* GENERAL STYLE */

@font-face {
  font-family: "Fira Sans";
  src: url('fonts/fira/eot/FiraSans-Regular.eot');
  src: url('fonts/fira/eot/FiraSans-Regular.eot') format('embedded-opentype'),
       url('fonts/fira/woff2/FiraSans-Regular.woff2') format('woff2'),
       url('fonts/fira/woff/FiraSans-Regular.woff') format('woff'),
       url('fonts/fira/woff2/FiraSans-Regular.ttf') format('truetype');
}

:root {
  /*previous colors
  main: #6ad2ff;
  accent: rgb(225, 126, 255);*/
  --main-color: rgb(255, 126, 126);
  --accent-color: #ddca8c;
  --quote-color: #cdc6ff;
}

html {
  padding-left: 2em;
  padding-right: 2em;
}

h1, h2, h3, h4, h5 {
  color: var(--accent-color);
  text-shadow: 0 0 20px;
}

.pageheader {
  font-size: 3em;
}

body {
  /*font-family: "Fira Sans", "PT Sans", Calibri, Tahoma, sans-serif;*/
  font-family: 'Nimbus Mono PS', 'Courier New', monospace;
  text-align: center;
  background-color: rgb(25, 24, 24);
  color: var(--main-color);
}

table a {
  text-decoration: none;
  padding: 0.5rem 0;
  position: relative;
}

.matrix {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: -55em;
  margin-left: -3em;
  writing-mode: vertical-lr;
  position: absolute;
  text-orientation: upright;
}

.matrix p {
  font-size: xx-small;
  opacity: 50%;
  color: var(--accent-color);
  line-height: 2em;
}

.navbartop {
  margin: 1em;
  text-align: center;
}

.navbartop div a {
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 15px;
  font-size: 1.1rem;
  font-weight: 500;
  position: relative;
}

p {
  text-align: left;
  font-size: large;
}

a {
  color: var(--main-color);
  text-decoration: none;
}

a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: var(--accent-color);
  transition: width 0.4s ease;
}

a:hover::after {
  width: 100%;
  left: 0;
  transform: translateX(0);
}

/* HOME PAGE */

.mainheader {
  margin-top: 1em;
  font-size: 3em;
}

.author > * {
  font-size: 1.2em;
  text-align: center;
  margin-left: 5em;
  margin-right: 5em;
}

.author > :last-child {
  transform: rotatex(180deg) translateY(2px);
  mask-image: linear-gradient(transparent 30%, var(--accent-color) 90%);
  filter: blur(1.5px) brightness(1.4);
  color: var(--accent-color);
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navbar {
  margin-top: 5.3em;
  float: left;
  text-align: left;
  font-size: x-large;
}

.navbar table {
  display: flex;
  border-collapse: separate;
  border-spacing: 7px;
}

.navbar a {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0.5rem 0;
  position: relative;
}

.devlinkwrapper {
  position: relative;
  margin-top: -1.5em;
  transform: rotate(90deg);
}

.devlink {
  top: -33em;
  text-decoration: none;
  padding: 0.5rem 15px;
  font-size: 1.1rem;
  font-weight: 500;
  position: absolute;
}

.shapes {
  float:right;
}

.triangle { 
      float: right;
      position: relative;
      margin-top: 25em;
      margin-right: 89.5%;
      width: 20px;
  }
  .triangle>div { 
      width: 25rem;
      height: 2px;
      background: var(--accent-color);
  }
  .triangle>div:before {
      content: " ";
      display: block;
      width: 21rem;
      height: 2px;
      background: var(--accent-color);
      -webkit-transform: rotate(56deg);
      -moz-transform: rotate(56deg);
      -ms-transform: rotate(56deg);
      transform: rotate(56deg);
      position: absolute;
      top: -190px;
      right: -488px;
  }
  .triangle>div:after {
      content: " ";
      display: block;
      width: 21rem;
      height: 2px;
      background: var(--accent-color);
      -webkit-transform: rotate(-56deg);
      -moz-transform: rotate(-56deg);
      -ms-transform: rotate(-56deg);
      transform: rotate(-56deg);
      position: absolute;
      top: -190px;
      left: -105px;
  }

/*square animation in the home page*/

.squares {
  float: right;
  margin-top: -21.4em;
  padding-bottom: 8em;
  margin-right: 10em;
  transform: scale(0.8);
  border: 2px transparent var(--accent-color);
}

.row {
  padding-top: 0em;
  margin-top: 0em;
}

/*old color rgb(0, 221, 255)*/
.square {
  display: inline-block;
  margin: auto;
  width: 2rem;
  height: 2rem;
  background-color: var(--main-color);
  border-radius: 0.6rem;
}
/*--------end-here--------*/

.text-xl {
  font-size: 1.4em;
  text-align: center;
  margin-right: 1.7em;
}

/*.AItext > * {
  font-size: 1.8em;
  text-align: center;
  margin-right: 1.4em;
}

.AItext > :last-child {
  transform: rotatex(180deg) translateY(7px);
  mask-image: linear-gradient(transparent 30%, var(--accent-color) 90%);
  filter: blur(2.3px) brightness(1.4);
  color: var(--accent-color);
}*/

.animesvg {
  margin-top: 5em;
}

/* DEVELOPMENT JOURNEY PAGE */

.devheader {
  text-align: left;
}

.devtext {
  text-align: left;
  margin-left: 0em;
}

#imgwborder img {
  border: 2px solid var(--main-color);
}

.devgif_general {
  text-align: left;
}

.devgif_general img {
  width: 60%;
  border: 2px solid var(--main-color);
}

.devgif_hover_feature {
  float: left;
  overflow: hidden;
  height: 200px;
  width: 550px;
  border: 2px solid var(--main-color);
}

.devgif_hover_feature img {
  height: 370px;
  margin: -100px 0px 0px 0px;
}

.devgif_firsthome {
  float: left;
  margin-right: 1em;
  height: 430px;
  overflow: hidden;
  border: 2px solid var(--main-color);
}

.devgif_firsthome img {
  height: 500px;
  margin: -5px 0px 0px 0px;
}

.devgifheart img {
  height: 240px;
}

.devtable {
  padding: 0;
  margin: 0;
}

.images {
  margin-top: 1em;
  margin-right: 20em;
  border: 2px solid var(--main-color);
}

#navbarimg img {
  height: 2.5em;
}

/* CYBERSEC_PROJECTS PAGE*/

/*heart animation in the cybersecurity projects page*/
.heart {
  margin-top: 4em;
  padding-bottom: 3em;
}

.cyberheartrow {
  padding-bottom: 0.6em;
}

.square2 {
  display: inline-block;
  margin: auto;
  width: 2rem;
  height: 2rem;
  background-color: rgb(255, 0, 60);
  border-radius: 0.6rem;
}

.square3 {
  display: inline-block;
  margin: auto;
  width: 2rem;
  height: 2rem;
  background-color: rgb(255, 0, 60);
  border-radius: 0.6rem;
  opacity: 0;
}

/*--------end-here--------*/

/* Sticks for cybersec subsite
.stick {
  float: left;
  width: 0.5rem;
  height: 40rem;
  background-color: rgb(65, 204, 255);
  border-radius: 0.6rem;
  margin-left: 2em;
}

#two {
  float: right;
  margin-right: 2em;
}
*/

/* Cool slider wave for vintage stuff!
.slider {
  text-align: left;
  margin-left: 0.2em;
}

.rectangle {
  display: inline-block;
  margin: auto;
  width: 0.2rem;
  height: 2rem;
  background-color: rgb(242, 64, 255);
  border-radius: 0.6rem;
}
*/

.welcometxt {
  font-size: x-large;
}

.projects_table {
  overflow: hidden;
}

.project {
  vertical-align: text-top;
  width: 30em;
  overflow: hidden;
}

.project {
  border-right: 2px solid var(--accent-color);
}

.project:last-child{
  border-right: none;
}

.projects_table img {
  width: 80%;
}

.projecttext {
  text-align: left;
}

.projecttext li {
  padding-bottom: 8px;
}

/* BUILDING A DATABASE WITH SQL PROJECT PAGE */

.projects_header {
  text-align: left;
  margin-left: 1.5em;
  font-size: 2em;
}

.text-link {
  color: var(--accent-color);
  text-shadow: 0 0 10px;
  text-decoration: none;
  padding: 0.5rem 0;
  position: relative;
}

.text-link::after {
  background-color: var(--main-color);
}
