@font-face {
  font-family: "Fira Sans";
  src: url('fonts/fira/eot/FiraSans-Regular.eot');
  src: url('fonts/fira/eot/FiraSans-Regular.eot') format('embedded-opentype'),
       url('fonts/fira/woff2/FiraSans-Regular.woff2') format('woff2'),
       url('fonts/fira/woff/FiraSans-Regular.woff') format('woff'),
       url('fonts/fira/woff2/FiraSans-Regular.ttf') format('truetype');
}

:root {
  --main-color: #6ad2ff;
  --accent-color: #d448e6;
}

html {
  padding-left: 2em;
  padding-right: 2em;
}

h1, h2, h3, h4, h5 {
  color: var(--accent-color);
  text-shadow: 0 0 20px;
}

.mainheader {
  font-size: 3em;
}

.pageheader {
  font-size: 3em;
}

.welcometxt {
  font-size: x-large;
}

body {
  /*font-family: "Fira Sans", "PT Sans", Calibri, Tahoma, sans-serif;*/
  font-family: 'Nimbus Mono PS', 'Courier New', monospace;
  text-align: center;
  background-color: rgb(25, 24, 24);
  color: var(--main-color);
}

.navbartop {
  margin: 1em;
  text-align: center;
  font-size: larger;
}

.navbartop div a {
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 15px;
  font-size: 1.3rem;
  font-weight: 500;
  position: relative;
}

.navbar {
  text-align: left;
  font-size: x-large;
}

.navbar table {
  display: flex;
  border-collapse: separate;
  border-spacing: 7px;
}

.navbar a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 0.5rem 0;
  position: relative;
}

a {
  color: var(--main-color);
  text-decoration: none;
}

a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: var(--accent-color);
  transition: width 0.4s ease;
}

a:hover::after {
  width: 100%;
  left: 0;
  transform: translateX(0);
}

/*square animation in the home page*/

.squares {
  padding-bottom: 10em;
}

.row {
  padding-top: 0em;
  margin-top: 0em;
}

.square {
  display: inline-block;
  margin: auto;
  width: 2rem;
  height: 2rem;
  background-color: rgb(0, 221, 255);
  border-radius: 0.6rem;
}
/*--------end-here--------*/

/*heart animation in the cybersecurity projects page*/
.heart {
  margin-top: 4em;
  padding-bottom: 3em;
}

.cyberheartrow {
  padding-bottom: 0.6em;
}

.square2 {
  display: inline-block;
  margin: auto;
  width: 2rem;
  height: 2rem;
  background-color: rgb(255, 0, 60);
  border-radius: 0.6rem;
}

.square3 {
  display: inline-block;
  margin: auto;
  width: 2rem;
  height: 2rem;
  background-color: rgb(255, 0, 60);
  border-radius: 0.6rem;
  opacity: 0;
}

/*--------end-here--------*/

/* Sticks for cybersec subsite
.stick {
  float: left;
  width: 0.5rem;
  height: 40rem;
  background-color: rgb(65, 204, 255);
  border-radius: 0.6rem;
  margin-left: 2em;
}

#two {
  float: right;
  margin-right: 2em;
}
*/

/* Cool slider wave for vintage stuff!
.slider {
  text-align: left;
  margin-left: 0.2em;
}

.rectangle {
  display: inline-block;
  margin: auto;
  width: 0.2rem;
  height: 2rem;
  background-color: rgb(242, 64, 255);
  border-radius: 0.6rem;
}
*/

p {
  text-align: left;
  font-size: large;
  margin-left: 2em;
}

.text-xl {
  font-size: 1.4em;
  text-align: center;
  margin-right: 1.7em;
}

.AItext > * {
  font-size: 2em;
  text-align: center;
  margin-right: 1.4em;
}

.AItext > :last-child {
  transform: rotatex(180deg) translateY(13px);
  mask-image: linear-gradient(transparent 30%, var(--accent-color) 90%);
  filter: blur(2.5px) brightness(1.4);
  color: var(--accent-color);
}

.animesvg {
  margin-top: 5em;
}

.devheader {
  text-align: left;
}

.devtext {
  text-align: left;
  margin-left: 0em;
}

#imgwborder img {
  border: 2px solid var(--main-color);
}

.devgif_general {
  text-align: left;
  height: 430px;
  overflow: hidden;
  border: 2px solid var(--main-color);
}

.devgif_general img {
  margin: -10px 0px 0px 0px;
}

.devgif_firsthome {
  float: left;
  margin-right: 1em;
  height: 430px;
  overflow: hidden;
  border: 2px solid var(--main-color);
}

.devgif_firsthome img {
  height: 500px;
  margin: -5px 0px 0px 0px;
}

.devgifheart img {
  height: 240px;
}

.devtable1 {
  padding: 0;
}

.images {
  margin-top: 1em;
  margin-right: 20em;
  border: 2px solid var(--main-color);
}

#navbarimg img {
  height: 2.5em;
}